*.gcda
*.gcno
*.la
*.lo
*.o
*~
.deps
.libs
/aclocal.m4
/autom4te.cache/
/client/rtcom-eventlogger-client
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/lcov.html
/lcov.info
/lcov.info.tmp
/libtool
/ltmain.sh
/missing
/rtcom-eventlogger.pc
/rtcom-eventlogger-uninstalled.pc
/stamp-h1
/tests/.rtcom-eventlogger
/tests/rtcom-eventlogger-testsuite
/tools/libtool.m4
/tools/ltoptions.m4
/tools/ltsugar.m4
/tools/ltversion.m4
/tools/lt~obsolete.m4
Makefile
Makefile.in
