Source: rtcom-eventlogger
Priority: extra
Maintainer: Senko Rasic <senko.rasic@collabora.co.uk>
Build-Depends: cdbs, debhelper (>= 5), autotools-dev, libglib2.0-dev, libsqlite3-dev, libdbus-1-dev, check, dbus, doxygen
Standards-Version: 3.7.2
Section: libs

Package: librtcom-eventlogger1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Event Logger Library.
  Event Logger Library.

Package: librtcom-eventlogger-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: librtcom-eventlogger1 (= ${binary:Version}), libsqlite3-dev
Description: Event Logger Library. Development files.
  Event Logger Library. 
  .
  Development files.

Package: librtcom-eventlogger-testsuite
Section: devel
Architecture: any
Multi-Arch: same
XB-Testing-metadata: 
 <testinfo> 
 <target package="librtcom-eventlogger1" version="0.61+" />
 <device id="0" />
 <set type="unit" id="0" name="eventloggerset" timeout="10000">
   <case id="1" name="test_init" />
   <case id="2" name="test_add_event" />
   <case id="3" name="test_header" />
   <case id="4" name="test_attach" />
   <case id="5" name="test_read" />
   <case id="6" name="test_count" />
   <case id="7" name="test_get" />
   <case id="8" name="test_unique_remotes" />
   <case id="9" name="test_get_string" />
   <case id="10" name="test_ends_with" />
   <case id="11" name="test_delete_events" />
 </set>
 </testinfo>
Depends: librtcom-eventlogger1 (= ${source:Version}), ${shlibs:Depends}
Description: Event Logger Library. Unit tests
 Event Logger Library.
 .
 Unit tests

Package: rtcom-eventlogger-client
Section: devel
Architecture: any
Multi-Arch: same
Depends: librtcom-eventlogger1 (= ${binary:Version}), ${shlibs:Depends}
Description: Event Logger command line client.
  The Event Logger command line client can be used to add, remove and edit
  events from the command line.

Package: librtcom-eventlogger-doc
Section: doc
Architecture: any
Multi-Arch: foreign
Description: Event Logger Library, API documentation.
  API documentation for the event logger library.

